/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    text-align: center;
}

.start-btn {
    padding: 15px 30px;
    font-size: 18px;
    background: #10a37f;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* CHAT */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    background: #10a37f;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

#chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    padding-left: 250px;
}

/* MESSAGE BUBBLES */
.user {
    background: #858887;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 0;
    max-width: 70%;
    align-self: flex-end;
}

.bot {
    background: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 0;
    max-width: 70%;
    align-self: flex-start;
}

/* INPUT */
.chat-input {
    display: flex;
    padding: 10px;
    background: rgb(216, 214, 214);
    width: 800px;
    margin-left: 250px;
    border-radius: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.chat-input button {
    padding: 10px 10px;
    font-size: 18px;
    background: #10a37f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
     height: 40px;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 6px;
    padding-top: 8px;
}

/* MOBILE */
@media (max-width: 600px) {
    .user, .bot {
        max-width: 85%;
    }
}
